*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

body > .right-side{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

#grid{
    display:grid;
    width:80vh;
    aspect-ratio:1 / 1;
    grid-template:repeat(3, 1fr) / repeat(3, 1fr);
    border:10px solid black;
    padding:2px;
}

.cell{
    border:2px solid black;
    /* margin:2px; */
}