*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

button{
    font:inherit;
    border:none;
    border-radius:10px;
    padding:10px;
    background-color:rgb(47, 122, 229);
    color:white;
}

input{
    font:inherit;
}

button:hover{
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    font-weight:700;
}

h1{
    font-size:4em;
    color:rgb(47, 122, 229);
}

body{
    height:100vh;
    display:flex;
    justify-content:space-evenly;
    font-size:2rem;
}

#createGame-dialog{
    margin:auto;
    padding:10px;
}

#createGame-dialog::backdrop{
    background-color:rgba(0, 0, 0, 0.5);
}

#createGame-dialog > form{
    display:grid;
    grid-template:repeat(3, 1fr) / repeat(2, 1fr);
    gap:4px;
}

#createGame-dialog > form > :first-child{
    grid-area:1 / 1 / 2 / 3;
}

#createGame-dialog > form > :nth-child(2){
    grid-area:2 / 1 / 3 / 3;
}

#left-side{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

#score-div:not(.hidden){
    display:grid;
    grid-template:2fr 1fr 1fr / 4fr 1fr;
    background-color:rgb(47, 122, 229);
    border-radius:20px;
}

#score-div > *{
    border:2px solid white;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:10px;
}

#score-div > h2{
    grid-area:1 / 1 / 2 / 3;
    color:white;
}

#player1Name-p,
#scorePlayer1-nb{
    color:rgb(150, 255, 150);
}

#player2Name-p,
#scorePlayer2-nb{
    color:rgb(255, 150, 150);
}

#right-side{
    height:100%;
    display:flex;
    align-items:center;
}

#grid{
    display:grid;
    width:80vh;
    aspect-ratio:1 / 1;
    grid-template:repeat(3, 1fr) / repeat(3, 1fr);
    border:10px solid black;
    padding:2px;
}

.cell{
    border:2px solid black;
}

.symbol{
    display:block; /* To remove the space below the symbol reserved for descenders when the display is inline*/
}

.green{
    filter: invert(79%) sepia(21%) saturate(764%) hue-rotate(71deg) brightness(108%) contrast(104%);
}

.pink{
    filter: invert(55%) sepia(74%) saturate(259%) hue-rotate(313deg) brightness(107%) contrast(101%);
}

.hidden{
    display:none;
}